<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Minha Loja</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      background-image: url("https://picsum.photos/1920/1080"); /* aqui vai sua imagem */
      background-size: cover;
      background-position: center;
      height: 100vh;
      color: white;
      text-align: center;
      font-family: sans-serif;
    }

    h1 {
      padding-top: 20%;
      font-size: 3em;
      text-shadow: 2px 2px 5px black;
    }
  </style>
</head>
<body>
  <h1>Bem-vindo à Loja Flask!</h1>
</body>
</html>
